AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ColumnLimit: 88
IndentWidth: 2
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
